<form class="login-page" (ngSubmit)="submit()">
  <mat-card class="mat-elevation-z12">
    <div class="container" style="text-align: center;">
      <img src="../../../assets/images/logo.png" width="250" alt="">
      <mat-form-field appearance="fill" class="mt-3">
        <mat-label>Digite seu e-mail</mat-label>
        <input matInput placeholder="exemplo@teste.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="container mt-3 mb-3">
      <mat-form-field appearance="fill">
        <label>Digite sua senha</label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{ getErrorMessagePassword() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="container mt-3 mb-3" style="text-align: center;">
      <button mat-raised-button color="primary" type="submit">Entrar <mat-icon>forward</mat-icon></button>
    </div>
  </mat-card>
</form>